/* ===== NAVBAR CONTAINER ===== */
.navbarContainer {
    width: 100%;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
}

.navbarFrame {
    width: 60%;
    height: 4rem;

    /* background-color: rgb(78, 73, 218);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); */

    display: inline-flex;
    align-items: center;

    background: rgba(78, 73, 218, 0.75);
    backdrop-filter: blur(3.5px);

    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.450);

    border-radius: 10px;

    overflow: visible;
}

/* ===== PRODUCT TITLE ===== */
.productTitle {
    font-size: 2.2rem;
    color: white;
    font-weight:900;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/* ===== ME BUTTON ===== */
.meButtonContainer {
    padding: 0.5rem;
    height: 3.5rem;
    border: none;

    background: transparent;

    display: grid;
}

.meButtonContainer:hover {
    height: 10rem;
    border-radius: 50;
}

.meButtonText {
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.meButtonImage {

}

/* ===== SIMPLE BUTTON ===== */
.simpleButtonContainer {
    padding: 0.5rem;
    height: 3.5rem;
    background-color: var(--purple-primary);
    border: none;
}

.simpleButtonText {
    font-size: 1rem;
    color:white;
    font-weight: 600;
}