.main {
    min-height: 100dvh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 5rem;

    z-index: 1000;
}

.navbarBack {
    height: 5rem;
    align-self: stretch;
    background: linear-gradient(
        0deg,
        #ffffff,
        #7e82f0,
        #343ba5
    );
    background: white;
    background-color: white;
}
