/* ===== PAGE ===== */
.pageContainer {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 4rem;
}

/* ===== CONTENT WRAPPER ===== */
.midContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* ===== NAME HEADER ===== */
.nameContainer {
    width: 100%;
    text-align: center;

    border-radius: 8px;
    background-color: var(--purple-hover);

    padding: 1rem;
}

/* ===== NAME TEXT ===== */
.nameText {
    font-size: 1.8rem;
    font-weight: 600;
}