:root {
    /* purples */
    --purple-dark-2: #3833B8;
    --purple-dark-1: #433ECC;
    --purple-primary: #4E48D9;
    --purple-hover:   #6A4EF0;
    --purple-soft:    #EFEAFF;

    --purple-border: #7b78db85;
    --purple-bg-soft: #b0aee385;

    /* text */
    --black-primary-text:   #101622;
    --black-secondary-text: #6B7280;
    --black-hint-text:      #9CA3AF;

    --black-text-muted: #2F2F2F;

    --white-primary-text:   #FFFFFF;
    --white-hint-text:      #D1D5DB;

    /* backgrounds */
    --white-bg:       #FFFFFF;
}